<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111394228371-4slr6ceip09bqefipq2ikbvribtj93qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111394228371-4slr6ceip09bqefipq2ikbvribtj93qj</string>
	<key>API_KEY</key>
	<string>AIzaSyDlqT1a4dtqp41Phy174YuidoDBC1olhnM</string>
	<key>GCM_SENDER_ID</key>
	<string>111394228371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frontend.expertapp</string>
	<key>PROJECT_ID</key>
	<string>expert-app-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>expert-app-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111394228371:ios:fdd7a56285376e221f2566</string>
	<key>DATABASE_URL</key>
	<string>https://expert-app-backend-default-rtdb.firebaseio.com</string>
</dict>
</plist>